<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongfu.dao.OrderPaymentMapper" >
  <resultMap id="BaseResultMap" type="com.tongfu.entity.OrderPayment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, amount, out_trade_no, order_id, transaction_id, member_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tf_order_payment
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getByOutTradeNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from tf_order_payment
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </select>
  <select id="getByOrderId" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List"  />
    from tf_order_payment
    where order_id = #{orderIds}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tf_order_payment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tongfu.entity.OrderPayment" >
    insert into tf_order_payment (id, create_date, amount, 
      out_trade_no, order_id, transaction_id, 
      member_id)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{amount,jdbcType=DECIMAL}, 
      #{outTradeNo,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tongfu.entity.OrderPayment" useGeneratedKeys="true" keyProperty="id" >
    insert into tf_order_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongfu.entity.OrderPayment" >
    update tf_order_payment
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongfu.entity.OrderPayment" >
    update tf_order_payment
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=DECIMAL},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>