<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>引用弹窗效果</title>
    <!--弹窗特效-->
    <!--<link rel="stylesheet" type="text/css" href="css/animate.min.css" th:href="@{/assets/tanchuang/animate.min.css}">-->
    <!--<script src="js/jquery-1.10.2.min.js" th:src="@{/assets/tanchuang/jquery-1.10.2.min.js}"></script>-->
    <!--<link rel="stylesheet" href="syalert/syalert.min.css" th:href="@{/assets/tanchuang/syalert.min.css}"/>-->
    <!--<script src="syalert/syalert.min.js" th:src="@{/assets/tanchuang/syalert.min.js}"></script>-->
    <!--弹窗特效结束-->
  </head>
  <body>
  <!--购物车弹窗-->

  <footer th:fragment="alert">
    <div class="sy-alert sy-alert-alert animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="alert" sy-mask="true" id="alert2">
      <div class="sy-title">提示</div>
      <div class="sy-content" id="popup"></div>
      <div class="sy-btn">
        <button onClick="ok('alert2')">确定</button>
      </div>
    </div>

    <script >
      //弹窗确定关闭效果
      function ok(id){
        syalert.syhide(id);
      }
    </script>
  </footer>


  </body>
</html>
