<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>供应商详情页中间部分</title>
</head>
<body>

<!--产品详情页中间部分-->
<footer th:fragment="language">




    <div class="yuyan">
<!--        <div class="yuyan_dw">-->
<!--            <li class=""><img th:src="@{/assets/img/guoqi.jpg}"/>中文<i class="iconfont">&#xe641;</i>-->
<!--                <ul class="gouw-son">-->
<!--                    <li class=""><a href="#"><img th:src="@{/assets/img/guoqi.jpg}"/>中文</a></li>-->
<!--                    <li class=""><a href="#"><img th:src="@{/assets/img/english.png}"/>EN</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </div>-->
<!--        <script>-->
<!--            $(function () {-->
<!--                $('.yuyan_dw').children("li:has(ul)").click(function () {-->
<!--                    if ($(this).children("ul").is(":visible")) {-->
<!--                        $(this).children("ul").hide();//隐藏下拉菜单-->
<!--                    } else {-->
<!--                        $(this).children("ul").slideDown(300);//JQ的slideDown方法，显示下拉菜单-->
<!--                    }-->
<!--                });-->
<!--                $('.yuyan_dw').mouseleave(function () {-->
<!--                    $(this).find("li ul").hide();//隐藏下拉菜单-->
<!--                });-->
<!--            });-->

<!--        </script>-->


        <div class="gou">
            <li class=""><a href="javaScript:void(0);"> <shiro:principal type="com.tongfu.entity.Member" property="username" /> <i class="iconfont"></i></a>
                <ul class="gouw-son">
                    <li class=""><a th:href="@{/member/view}">账号信息</a></li>
                    <li class=""><a th:href="@{/lognout}">退出</a></li>
                </ul>
            </li>
            <li class=""><a href="javaScript:void(0);">个人中心<i class="iconfont"></i></a>
                <ul class="gouw-son">
                    <li class=""><a th:href="@{/order/orderList}">我的订单</a></li>
                    <li class=""><a th:href="@{/order/addedOrderList}">增值服务</a></li>
                    <li class=""><a th:href="@{/order/knowHowList}">Konw-how卡订单</a></li>
                    <li class=""><a th:href="@{/point/list}">我的积分</a></li>
                    <li class=""><a th:href="@{/member/knowHow}">Konw-how卡</a></li>
                    <li class=""><a th:href="@{/member/security}">修改密码</a></li>
                    <li class=""><a th:href="@{/orderInvoice/list}">我的发票</a></li>
                </ul>
            </li>

            <li style="padding-right:5px;">
                <a th:href="@{/cart/listCart}">
                <i class="iconfont" id="gou" ></i>
                <i class="ci-count" id="shopping-amount" th:text="${@cartCountService.getCartCount()}" ></i>
                </a>
            </li>

        </div>
        <a th:href="@{/sellYourProduct}" style="margin-left: 20px;color: #fff;background-color: #00a0ea;padding: 0 10px;cursor: pointer;font-size: 14px;">平台入驻</a>
        <script>
            $().ready(function() {

                $('.navBar,.gou').children("li:has(ul)").hover(
                    function(){
                        console.log(1);
                        //$(this).find("ul>li:last").addClass("li-last-s1");//给每个下拉菜单的最后一个li元素添加css样式，此处非必要
                        $(this).children("ul").slideDown(300);//JQ的slideDown方法，显示下拉菜单
                    },
                    function(){
                        console.log(2);
                        $(this).children("ul").hide();//隐藏下拉菜单
                    }
                );

                $('.nar,.nav_g').children("li:has(ul)").hover(
                    function(){
                        console.log(1);
                        //$(this).find("ul>li:last").addClass("li-last-s1");//给每个下拉菜单的最后一个li元素添加css样式，此处非必要
                        $(this).children("ul").slideDown(300);//JQ的slideDown方法，显示下拉菜单
                    },
                    function(){
                        console.log(2);
                        $(this).children("ul").hide();//隐藏下拉菜单
                    }
                );
            });
        </script>



    </div>
</footer>


</body>
</html>
