<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注册</title>
</head>


<body>
<link href="../css/home.css" type="text/css" rel="stylesheet" th:href="@{/assets/css/home.css}"/>
<link href="../css/index.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}">
<script src="../js/huaceng.js" language="javascript" th:href="@{/assets/js/huaceng.js}"></script>
<link href="../css/demo.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/demo.css}">
<link href="../css/iconfont.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/iconfont.css}">
<script src="../css/iconfont.js" language="javascript" th:href="@{/assets/css/iconfont.js}"></script>
<script src="../js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>

<!--弹窗特效-->
<link rel="stylesheet" type="text/css"  th:href="@{/assets/tanchuang/animate.min.css}">
<script src="js/jquery-1.10.2.min.js" th:src="@{/assets/tanchuang/jquery-1.10.2.min.js}"></script>
<link rel="stylesheet" href="syalert/syalert.min.css" th:href="@{/assets/tanchuang/syalert.min.css}"/>
<script src="syalert/syalert.min.js" th:src="@{/assets/tanchuang/syalert.min.js}"></script>

<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<div id="Header">
    <div class="ktou">
        <div class="klogo">
            <a th:href="@{/}">
                <img th:src="@{/assets/img/testLogo.png}" style="height:75px;"/>
            </a>
        </div>
        <div class="kgouw">
            <li>
                <a href="">中文</a>
                <i class="iconfont">&#xe641;</i>
                <span style="float:right; padding: 0px 10px;">|</span>
                <ul class="gouw-son hidden">
                    <li class=""><a href="#">中文</a></li>
                    <li class=""><a href="#">EN</a></li>
                </ul>
            </li>
            <li><a th:href="@{/}">返回首页</a></li>
        </div>

    </div>
</div>
<script>
    function test(){
        $('.gouw').children("li:has(ul)").hover(
            function(){
                //$(this).find("ul>li:last").addClass("li-last-s1");//给每个下拉菜单的最后一个li元素添加css样式，此处非必要
                $(this).children("ul").slideDown(300);//JQ的slideDown方法，显示下拉菜单
            },
            function(){
                $(this).children("ul").hide();//隐藏下拉菜单
            }
        );
    }
</script>
<script>
    test();
</script>
<div class="log_con">
    <div class="reg">
        <div class="top">
            <span id="zh">注册SP企业账户</span>
            <span id="zh1">已有账号？<a th:href="@{/denglu}" href="#">立即登录</a></span>
        </div>
        <div class="zc">
            <form  method="post"  th:action="@{/enterpriseRegister2}"  onsubmit="return checkFrom()" >

                <div id="pho">
                    <div class="register-select">
                        <span class="registerType">手机</span>
                        <ul>
                            <li class="registerActive" onclick="editRegisterType(this,'1','手机')">手机</li>
                            <li onclick="editRegisterType(this,'2','e-mail')">e-mail</li>
                        </ul>
                    </div>
                    <input placeholder="请输入手机号" type="text" id="mobile" name="mobile" />
                </div>
            <div style="marign-top:10px;">
                <input type="text" placeholder="输入验证码" id="code" name="code" style="float:left;width:180px;height:32px;" required>
                <button type="button" id="sendCode" onclick="settime();" style="float:right;width:125px;cursor: pointer">发送验证码</button>
            </div>
            <div>
                <input autocomplete="off" type="password" name="password" id="pwd1" class="field" maxlength="20"
                       placeholder="8-20位密码，必须包含字母/数字/符号3种" style="width: 338px;height:32px;" required>

                <input autocomplete="off" type="password" name="pwd2" id="pwd2" class="field" maxlength="20"
                       placeholder="确认密码" style="width: 338px;height:32px;" required>
            </div>

            <div style="clear: both;display: block;margin: 30px 0px;text-align: left;">
                <p>
                    <input type="checkbox"
                           style="vertical-align: middle; margin-top: 5px;margin-right:8px;float:left;"
                           id="agree"
                           name="remember">
                    我已阅读并同意<a target="_blank" th:href="@{/gotostatement}">《服务条款》</a>和<a target="_blank" th:href="@{/gotostatement}">《隐私协议》</a></p>

                <button type="submit" style="cursor: pointer; background: #f4f4f2;color: #1D222D;" disabled class="cez" id="register">下一步</button>
                <div style=" width: 160px;margin: auto;text-align: center;padding-top: 15px;"><i class="iconfont4"
                                                                                                 style="float: left;">&#xe61b;</i>
                    <p style="float:left;line-height:160%;"><a th:href="@{/register}">个人用户注册</a></p></div>

            </div>
            </form>
        </div>
    </div>
    <div style="height:55px;width:100%;display:block;"></div>
    <div class="tjnav">
        <ul>
            <li th:each="category:${categoryList}">
                <a th:href="@{/category/list(parent=${category.id})}" ><img th:src="@{${pathUrl+category.image}}" alt="" ></a>
                <span><a th:href="@{/category/list(parent=${category.id})}">[[${category.name}]]</a></span>
            </li>

        </ul>
    </div>
</div>

<!--引用弹窗效果-->
<div th:replace="/incloud/alert:: alert"></div>
<!--引用页面脚部-->
<div th:replace="/incloud/footer:: footer"></div>

</body>
<script>

    var registerType = 1;
    $('#agree').click(function () {
        var agree =$(this).prop("checked");
        if(agree){
            $("#register").removeAttr("disabled");
            $('#register').css({'background':'#007fdc'});
            $('#register').css({'color':'#f9fafc'});
        }else {
            $("#register").attr("disabled", "disabled");
            $('#register').css({'background':'#E8E7E4'});
            $('#register').css({'color':'#333'});
        }

    });

    //发送验证码倒计时
    var countdown = 60;
    function senCode() {
        if (countdown == 0) {
            // obj.removeAttribute("disabled");
            // $("#sendCode").attr("disabled", "true");

            $("#sendCode").removeAttr("disabled");
            $('#sendCode').css({'background':'#007fdc'});
            $('#sendCode').css({'color':'#f9fafc'});
            $('#sendCode').text('发送验证码');
            // obj.value="免费获取验证码";
            countdown = 60;
            return;
        } else {
            // obj.setAttribute("disabled", true);
            $("#sendCode").attr("disabled", "disabled");
            $('#sendCode').text(countdown+'后重新发送');
            $('#sendCode').css({'background':'#E8E7E4'});
            $('#sendCode').css({'color':'#333'});
            // obj.value="重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function() {
                senCode() }
            ,1000);
    }

    function editRegisterType(_this,value,text) {
        $(_this).siblings().removeClass("registerActive");
        $(_this).addClass("registerActive");
        $(".registerType").text(text);
        if(value == 1){
            $("#mobile").attr("placeholder","请输入手机号")
        }else{
            $("#mobile").attr("placeholder","请输入邮箱地址")
        }
        registerType = value;
    }
    //单击发送验证码按钮
    function settime() {
        var phone = $('#mobile').val();
        if(registerType == 1){
            if(phone==''){
                $('#popup').html('请输入手机号')
                syalert.syopen('alert2');
                $(".ci-count").html('11111');
                return;
            }
            if(phone.length!=11){
                $('#mobile').val('');
                $('#popup').html('手机号输入有误')
                syalert.syopen('alert2');
                $(".ci-count").html('11111');
                return;
            }
            var pattern = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])[0-9]{8}$/;
            console.log(!pattern.test($.trim(phone)))
            if(pattern.test($.trim(phone))==false){
                $('#mobile').val('');
                $('#popup').html('手机号输入有误,请重新输入!')
                syalert.syopen('alert2');
                $(".ci-count").html('11111');
                return;
            }
            var url = '[[@{/sendCode}]]';//短信验证码发送接口
        }else if(registerType == 2){
            if(phone==''){
                $('#popup').html('请输入邮箱')
                syalert.syopen('alert2');
                $(".ci-count").html('11111');
                return;
            }
            var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            if(!reg.test(phone)){
                $('#mobile').val('');
                $('#popup').html('邮箱输入有误,请重新输入!')
                syalert.syopen('alert2');
                $(".ci-count").html('11111');
                return;
            }
            var url = '[[@{/sendCodeEmail}]]';//邮箱验证码发送接口
        }

        var data = {phone:phone,templateid:'247796',email:phone};
        $.ajax({
            type:"post",
            contentType: "application/json",
            url: url,
            data: JSON.stringify(data),//手机号+短信模板id
            dataType:"json",
            async: false,
            success:function (data) {
                console.log(data)
                if(data.status==200){
                    console.log(data)
                    $('#popup').html(data.msg)
                    syalert.syopen('alert2');
                    $(".ci-count").html('11111');
                    senCode();

                }else {
                    console.log(data)
                    $('#popup').html(data.msg);
                    syalert.syopen('alert2');
                    $(".ci-count").html('11111');
                }

            }
        });


    }


    //提交校验
    function checkFrom() {
        var pwd = $('#pwd1').val();
        var pwd2 = $('#pwd2').val();
        if(pwd!=pwd2){
            alert("密码与确认密码不一致");
            return false;
        }
        var mobile = $('#mobile').val();
        var code = $('#code').val();
        var falg = true;
        $.ajax({
            type:"post",
            url:'[[@{/enterpriseRegister}]]',
            data:{mobile:mobile,password:pwd,code:code},
            dataType:"json",
            async: false,
            success:function(data){
               console.log("data==========="+data.msg);
               // alert(data.msg)
               if(data.status==200) {
                   falg = true;
                   }
               else
                   {
                       console.log(data.msg)
                       $('#popup').html(data.msg)
                       syalert.syopen('alert2');
                       $(".ci-count").html('11111');
                       falg = false;
                   }

               },error:function(){
                falg =  false;
            }
        });

        return falg;
    }
</script>
</html>
