<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>找回密码</title>

</head>

<body>

<link th:href="@{/assets/css/home.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/assets/css/index.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/demo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/iconfont.css}" rel="stylesheet" type="text/css">
<script th:src="@{/assets/js/huaceng.js}" language="javascript"></script>
<script th:src="@{/assets/css/iconfont.js}" language="javascript"></script>
<script th:src="@{/assets/js/jquery.min.js}" language="javascript"></script>
<!--<script th:src="@{/assets/js/jq-slideVerify.js}" language="javascript"></script>-->


<!--弹窗特效-->
<link rel="stylesheet" type="text/css" th:href="@{/assets/tanchuang/animate.min.css}">
<script src="js/jquery-1.10.2.min.js" th:src="@{/assets/tanchuang/jquery-1.10.2.min.js}"></script>
<link rel="stylesheet" href="syalert/syalert.min.css" th:href="@{/assets/tanchuang/syalert.min.css}"/>
<script src="syalert/syalert.min.js" th:src="@{/assets/tanchuang/syalert.min.js}"></script>

<style>
    .fatc {
        width: 300px;
        top: 39%;
        left: 37%;
    }
</style>
<
<div id="Header">

    <div class="ktou">
        <div class="klogo">
            <a th:href="@{/}">
                <img th:src="@{/assets/img/logo.jpg}"/>
            </a>
        </div>
        <div class="kgouw">
            <li><a href="">中文</a><i class="iconfont">&#xe641;</i><span
                    style="float:right;    padding: 0px 10px;">|</span>
                <ul class="gouw-son hidden">
                    <li class=""><a href="#">中文</a></li>
                    <li class=""><a href="#">EN</a></li>
                </ul>
            </li>
            <li><a th:href="@{/}">返回首页</a></li>
        </div>

    </div>
</div>

<div class="log_con">
    <div class="wjmm">
        <div class="wjmm_t">账号安全</div>
        <div class="wjmm_b" style="width:90%;">
            <span class="bt">找回密码</span>
            <p>我们已向您手机   [[${phone}]] 发送了新的密码</p>  
            <p>请您注意 <span style="color: #0d78e4;">查看短信</span> </p>
            <a th:href="@{/denglu}">
                <button type="button" id="dllan" style="border: 0px;margin-top: 20px; cursor: pointer;">去登录</button>
            </a>
            <p style="font-size:12px;color:#666;padding-top:10px;">新密码已通过短信发送至你手机请注意查收。<br/>
                没有收到？<a th:href="forgetPassword"> 重新发送</a>
        </div>

    </div>
    <div id="fade1" class="black_overlay"></div>

</div>
</div>


<!--引用弹窗效果-->
<div th:replace="/incloud/alert:: alert"></div>
<!--引用页面脚部-->
<div th:replace="/incloud/footer:: footer"></div>

</body>

<script type="text/javascript" src="../js/ljquery-1.9.js" th:src="@{/assets/js/ljquery-1.9.js}"></script>
</html>
