<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>找回密码</title>

</head>

<body>

<link th:href="@{/assets/css/home.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/assets/css/index.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/demo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/iconfont.css}" rel="stylesheet" type="text/css">
<script th:src="@{/assets/js/huaceng.js}" language="javascript"></script>
<script th:src="@{/assets/css/iconfont.js}" language="javascript"></script>
<script th:src="@{/assets/js/jquery.min.js}" language="javascript"></script>
<!--<script th:src="@{/assets/js/jq-slideVerify.js}" language="javascript"></script>-->


<!--弹窗特效-->
<link rel="stylesheet" type="text/css"  th:href="@{/assets/tanchuang/animate.min.css}">
<script src="js/jquery-1.10.2.min.js" th:src="@{/assets/tanchuang/jquery-1.10.2.min.js}"></script>
<link rel="stylesheet" href="syalert/syalert.min.css" th:href="@{/assets/tanchuang/syalert.min.css}"/>
<script src="syalert/syalert.min.js" th:src="@{/assets/tanchuang/syalert.min.js}"></script>

<style>
    .log_co{margin: auto;    width: 1200px;}
    #nc_1_captcha_input {border: solid 1px #999;}
    .wjmm_b #pho{display: block;width: 325px;*width: 335px;height: 42px;padding: 0px 5px;font-size: 14px;border: 1px solid #E8E7E4;background: #F4F4F2;border-radius: 4px;}
    label {float: left;margin-right: 10px;width: 69px;height:40px;
        line-height: 42px;border-right: 1px solid #E8E7E4;}
    .fromTabel{
        display: flex;
        flex-direction: column;
    }
    .codeDiv{
        padding: 30px 0;
    }
    .errorMsg{

        color: red;
    }
</style>
<script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
        _vds.push(['setAccountId', 'bd647439edc1d679']);
        _vds.push(['trackBot', false]);
        (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
        })();
    })();
</script>
<div id="Header">

    <div class="ktou">
        <div class="klogo">
        <a th:href="@{/}">
            <img th:src="@{/assets/img/testLogo.png}" style="height:75px;"/>
        </a>
        </div>
        <div class="kgouw">
            <li><a href="">中文</a><i class="iconfont">&#xe641;</i><span
                    style="float:right;    padding: 0px 10px;">|</span>
                <ul class="gouw-son hidden">
                    <li class=""><a href="#">中文</a></li>
                    <li class=""><a href="#">EN</a></li>
                </ul>
            </li>
            <li><a th:href="@{/}">返回首页</a></li>
        </div>

    </div>
</div>
<script>
    function test(){
        $('.gouw').children("li:has(ul)").hover(
            function(){
                //$(this).find("ul>li:last").addClass("li-last-s1");//给每个下拉菜单的最后一个li元素添加css样式，此处非必要
                $(this).children("ul").slideDown(300);//JQ的slideDown方法，显示下拉菜单
            },
            function(){
                $(this).children("ul").hide();//隐藏下拉菜单
            }
        );
    }

</script>

<script>
    test();
</script>

<div class="log_con">
    <div class="wjmm">
        <div class="wjmm_t">账号安全</div>
        <div class="wjmm_b">
            <form class="fromTabel" th:action="@{/forgetPasswordComplete}" method="post">
	        <span id="pho"><label class="select-country" country_id="+86">+86<span class="iconfont" style="margin-left: 10px;    margin-left: 10px;font-size: 22px;color: #333;">&#xe641;</span></label>
	        <input placeholder="手机号" id="phone" name="phone" style="width: 204px;border: 0px;float: left;height:40px;"></span>
            <div class="codeDiv">
                <input type="text" placeholder="输入验证码" name="code" style="float:left;width:180px;	">
                <button type="button" id="sendCode" style="float: left;width: 125px;margin-left: 20px; cursor: pointer;" onclick="settime();">发送验证码</button>
            </div>
                <div class="errorMsg">
                    <p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                </div>
            <button type="submit" id="dllan" style="border: 0px;margin-top: 20px; cursor: pointer;">下一步</button>
            </form>
        </div>
    </div>
</div>

<!--引用弹窗效果-->
<div th:replace="/incloud/alert:: alert"></div>
<!--引用页面脚部-->
<div th:replace="/incloud/footer:: footer"></div>

</body>

<script type="text/javascript" src="../js/ljquery-1.9.js" th:src="@{/assets/js/ljquery-1.9.js}"></script>
<script>


    //发送验证码倒计时
    var countdown = 60;
    function senCode() {
        if (countdown == 0) {
            // obj.removeAttribute("disabled");
            // $("#sendCode").attr("disabled", "true");

            $("#sendCode").removeAttr("disabled");
            $('#sendCode').css({'background':'#007fdc'});
            $('#sendCode').css({'color':'#f9fafc'});
            $('#sendCode').text('发送验证码');
            // obj.value="免费获取验证码";
            countdown = 60;
            return;
        } else {
            // obj.setAttribute("disabled", true);
            $("#sendCode").attr("disabled", "disabled");
            $('#sendCode').text(countdown+'后重新发送');
            $('#sendCode').css({'background':'#E8E7E4'});
            $('#sendCode').css({'color':'#333'});
            // obj.value="重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function() {
                senCode() }
            ,1000);
    }

    //单击发送验证码按钮
    function settime() {

        var phone = $('#phone').val();
        if(phone==''){
            $('#popup').html('请输入手机号')
            syalert.syopen('alert2');
            $(".ci-count").html('11111');
            return;
        }

        if(phone.length!=11){
            $('#phone').val('');
            $('#popup').html('手机号输入有误')
            syalert.syopen('alert2');
            $(".ci-count").html('11111');
            return;
        }

        var pattern = /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])[0-9]{8}$/;
        console.log(!pattern.test($.trim(phone)))

        if(pattern.test($.trim(phone))==false){
            $('#phone').val('');
            $('#popup').html('手机号输入有误,请重新输入!')
            syalert.syopen('alert2');
            $(".ci-count").html('11111');
            return;
        }
        var falg = false;
        if (falg){
            $('#popup').html('该手机号未注册SP平台!')
            syalert.syopen('alert2');
            $(".ci-count").html('11111');
            return;
        }


        $.ajax({
            type:"post",
            url:'[[@{/sendCode}]]',
            contentType: "application/json",
            data:JSON.stringify({phone:phone,templateid:'254978'}),
            dataType:"json",
            async: false,
            success:function (data) {
                console.log(data)
                if(data.status==200){
                    console.log(data)
                    $('#popup').html(data.msg);
                    syalert.syopen('alert2');
                    $(".ci-count").html('11111');
                    senCode();

                }else {
                    console.log(data)
                    $('#popup').html(data.msg);
                    syalert.syopen('alert2');
                    $(".ci-count").html('11111');
                }

            }
        });


    }




</script>


</html>
