<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">


                <nav th:fragment="topbar">
                    <div class="col-md-12">
                        <a href="#">
                            <div class="logo"></div>
                        </a>
                        <div class="nav">
                            <ul>
                                <li class="current">
                                    <a href="#">首页</a>
                                </li>
                                <li class="product_header">
                                    <a href="#">行业资讯</a>
                                    <section class="section dropmenu--simple" style="margin-left: -17px;">
                                        <ul class="ul-menulist--simple">

                                            <li class="li-menulist" style="width: auto;"><a href="#">精英团队</a></li>

                                            <li class="li-menulist" style="width: auto;"><a href="#">高端访谈</a></li>

                                            <li class="li-menulist" style="width: auto;"><a href="#">学术活动</a></li>

                                            <li class="li-menulist" style="width: auto;"><a href="#">行业新闻</a></li>

                                            <li class="li-menulist" style="width: auto;"><a href="#">国际前沿</a></li>

                                            <li class="li-menulist" style="width: auto;"><a href="#">精品文章</a></li>


                                        </ul>

                                    </section>

                                </li>
                                <li>
                                    <a href="#">分析软件</a>

                                    <section class="section dropmenu--simple" style="margin-left: 3px;">
                                        <ul class="ul-menulist--simple">

                                            <li class="li-menulist" style="width: auto;"><a href="#">分析软件</a></li>
                                            <li class="li-menulist" style="width: auto;"><a href="#">3D打印</a></li>
                                            <li class="li-menulist" style="width: auto;"><a href="#">人工智能</a></li>
                                            <li class="li-menulist" style="width: auto;"><a href="#">导航/机器人</a></li>

                                        </ul>
                                    </section>

                                </li>
                                <li>
                                    <a href="#">计划软件</a>
                                </li>
                                <li>
                                    <a href="#">增值服务</a>
                                </li>
                                <li>
                                    <a href="#">Konw how  	</a>
                                </li>
                                <li style="width:40px;"><form name="searchform1" action="#">
                                    <button type="submit"><a href="#"><i class="iconfont">&#xe639;</i></a></button>
                                </form></li>
                                <li>
                                    <a href="#"><shiro:principal/><i class="iconfont">&#xe641;</i></a>
                                    <section class="section dropmenu--simple" style="margin-left: 3px;">
                                        <ul class="ul-menulist--simple">
                                            <li class="li-menulist" style="width: auto;"><a href="#">账户信息</a></li>
                                            <li class="li-menulist" style="width: auto;"><a th:href="@{/lognout}">退出</a></li>
                                        </ul>
                                    </section>
                                </li>
                                <li>
                                    <a href="#">我的SP<i class="iconfont">&#xe641;</i></a>
                                    <section class="section dropmenu--simple" style="margin-left: 3px;">
                                        <ul class="ul-menulist--simple">
                                            <li class="li-menulist" style="width: auto;"><a href="#">我的资料</a></li>
                                            <li class="li-menulist" style="width: auto;"><a href="#">我的订单</a></li>
                                            <li class="li-menulist" style="width: auto;"><a href="#">我的积分</a></li>

                                        </ul>
                                    </section>
                                </li>
                                <li style="width:30px;"><a href="#"><i class="iconfont" id="gou">&#xe600;</i><i class="ci-count" id="shopping-amount">1</i></a></li>
                                <li>
                                    <a href="">中文 </a>&nbsp;|&nbsp;<a href="">EN</a>
                                </li>

                                <div class="border" style="z-index: -1;"></div>
                            </ul>
                        </div>
                </nav>




</html>
