<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<nav th:fragment="topbar">

<div class="logo">
    <a th:href="@{/}"><img th:src="@{/assets/img/testLogo.png}"/></a>
</div>
<div class="midd">
    <div class="seach">
        <form th:action="@{/product/list}" id="searchForm" method="post">
            <input type="hidden" id="parent" name="parent" th:value="${parent}">
            <input type="hidden" id ="type" value="1" >

            <input type="hidden" id ="category" name="category" value="6" >
            <input type="hidden" id ="index" name="index" value="3" >

            <input type="text" id="seachName" autocomplete="off" />
            <div class="searchResults">
            </div>
            <div class="seach-select">
                <p><span class="searchText">产品名称</span><i class="fa fa-caret-down"></i></p>
                <ul>
                    <li class="seachActive" onclick="editSearch(this,'1','产品名称')">产品名称</li>
<!--                    <li onclick="editSearch(this,'2','关联新闻')">关联新闻</li>-->
<!--                    <li onclick="editSearch(this,'3','学术活动')">学术活动</li>-->
                    <li onclick="editSearch(this,'4','公司名称')">公司名称</li>
                </ul>
            </div>
            <a id="seachSubmit" onclick="sertchList()"></a>
        </form>
        <script>
            $(".searchResults").css({
                'height': '0px',
                'border': '0'
            });
            var oldText,oldType;
            function queryData(text) {
                if(text == ''|| text == null){
                    return false;
                }
                var type = $("#type").val();
                if(text == oldText && type == oldType){
                    $("#seachName").css({
                        "border-radius": "10px 0 0 0",
                        "border-bottom": "0"
                    })
                    $(".searchResults").css({
                        'height': 'auto',
                        'border': '1px solid #007fdc',
                        'border-top': '0'
                    });
                    return false;
                }
                if(type == 1){
                    searchProduct(text,type);
                }else if(type == 2){
                    searchArticle(text,type)
                }else if(type == 3){
                    searchLearning(text,type)
                }else if(type == 4){
                    searchCompany(text,type)
                }
            }
            //检索商品名称
            function searchProduct(text,type){
                $.ajax({
                    url: "[[@{/product/searchProductName}]]",
                    type: "POST",
                    data: JSON.stringify({
                        keywords: text
                    }),
                    contentType:"application/json",
                    dataType:"json",
                    async: false,
                    success: function (data) {
                        oldText = text;
                        oldType = type;
                        if(data.length === 0){
                            $(".searchResults").empty();
                            $(".searchResults").removeAttr('style');
                            $(".searchResults").css({
                                'height': '0px',
                                'border': '0px'
                            });
                            $("#seachName").css({
                                "border-radius": "10px 0 0 10px",
                                "border": "1px solid #007fdc"
                            })
                            return false;
                        }
                        var html = '';
                        for(var i = 0; i < data.length; i++ ){
                            html += '<a target="_blank" href="[[@{/product/view}]]?id='+ data[i].id +'">'+ data[i].full_name +'</a>';
                            if(i == 9){ break; }
                        }
                        $(".searchResults").html(html);
                        setTimeout(function () {
                            $(".searchResults").css({
                                'height': 'auto',
                                'border': '1px solid #007fdc',
                                'border-top': '0'
                            });
                            $("#seachName").css({
                                "border-radius": "10px 0 0 0",
                                "border-bottom": "0"
                            });
                        },500)

                    }
                });
            }
            //检索公司名称
            function searchCompany(text,type){
                $.ajax({
                    url: "[[@{/company/list}]]",
                    type: "POST",
                    data: JSON.stringify({
                        name: text
                    }),
                    contentType:"application/json",
                    dataType:"json",
                    async: false,
                    success: function (data) {
                        oldText = text;
                        oldType = type;
                        if(data.length === 0){
                            $(".searchResults").empty();
                            $(".searchResults").removeAttr('style');
                            $(".searchResults").css({
                                'height': '0px',
                                'border': '0'
                            });
                            $("#seachName").css({
                                "border-radius": "10px 0 0 10px",
                                "border": "1px solid #007fdc"
                            })
                            return;
                        }
                        var html = '';
                        for(var i = 0; i < data.length; i++ ){
                            html += '<a target="_blank" href="[[@{/company/view}]]?id='+ data[i].id +'">'+ data[i].name +'</a>';
                            if(i == 9){ break; }
                        }
                        console.log('跳出循环')
                        $(".searchResults").html(html);
                        setTimeout(function () {
                            $(".searchResults").css({
                                'height': 'auto',
                                'border': '1px solid #007fdc',
                                'border-top': '0'
                            });
                            $("#seachName").css({
                                "border-radius": "10px 0 0 0",
                                "border-bottom": "0"
                            });
                        },500)

                    }
                });
            }


            //from表单回车事件
            $("#searchForm").keydown(function(event){
                if(event.keyCode==13){
                     sertchList()
                }
            });
            //节流函数开始
            var input = document.getElementById("seachName");
            $("#seachName").on('focus',function () {
                queryData($("#seachName").val())
            });
            $("#seachName").on('blur',function () {
                setTimeout(function () {
                    $(".searchResults").css({
                        'height': '0px',
                        'border': '0'
                    })
                },1000);
                $("#seachName").css({
                    "border-radius": "10px 0 0 10px",
                    "border": "1px solid #007fdc"
                })
            });
            input.addEventListener("keyup", function(event) {
                throttle(queryData, null, 500, this.value);
            });
            function throttle(fn, context, delay, text) {
                clearTimeout(fn.timeoutId);
                fn.timeoutId = setTimeout(function() {
                    fn.call(context, text);
                }, delay);
            }
            //节流函数结束

            //点击检索列表
            function sertchList() {
                var type = $("#type").val();
                $("#seachName").css({
                    "border-radius": "10px 0 0 10px",
                    "border": "1px solid #007fdc"
                });
                if($("#seachName").val() == ""){

                    return false;
                }
                if(type == 1){
                    $("#seachName").attr("name","keywords");
                    console.log($("#seachName").attr("name"))
                    $("#searchForm").attr('action','[[@{/product/serchList}]]');    //通过jquery为action属性赋值
                }else if(type == 2){
                    $("#seachName").attr("name","keywords");
                    $("#index").val(3);
                    $("#category").val(7);
                    $("#searchForm").attr('action','[[@{/article/list}]]');    //通过jquery为action属性赋值
                }else if(type == 3){
                    $("#seachName").attr("name","keywords");
                    $("#index").val(2);
                    $("#category").val(6);
                    $("#searchForm").attr('action','[[@{/learning/seachList}]]');    //通过jquery为action属性赋值
                }else if(type == 4){
                    $("#seachName").attr("name","keywords");
                    $("#index").val(2);
                    $("#category").val(6);
                    $("#searchForm").attr('action','[[@{/company/serchList}]]');    //通过jquery为action属性赋值
                }
                $(".searchResults").css({
                    'height': '0px',
                    'border': '0'
                });
                $("#searchForm").submit();
            }
            //修改type值 并重新检索
            function editSearch(_this,value,text) {
                $(_this).siblings().removeClass("seachActive");
                $(_this).addClass("seachActive");
                $(".searchText").text(text);
                $("#type").val(value);
                $(".searchResults").css({
                    'height': '0px',
                    'border': '0'
                });
                $("#seachName").css({
                    "border-radius": "10px 0 0 10px",
                    "border": "1px solid #007fdc"
                });
                queryData($("#seachName").val(),$("#type").val());
            }




        </script>

<!--        <input type="text" value="" class="txt" >-->
<!--        <input type="submit" value="" class="but" />-->
    </div>
    <div class="navBar" id="headdiv">
        <li class="da" style="padding-left:0px;"><a href="index.html" th:href="@{/}" >首页</a></li>
        <!--开始-->
        <li class="" th:each="list:${@index.getList()}">
            <th:block th:each="entry:${list}">
                <!--[[${entry.value.size()}]]-->
                <th:block th:if="${entry.value.size()==0}" >
                    <!--<a href="2j_news.html"  th:text="${entry.key}" >行业资讯</a>-->
                    <a href="javascript:void(0)"  th:text="${entry.key}">行业资讯</a>
                </th:block>
                <th:block th:if="${entry.value.size()==1}" >
                    <!--<a href="2j_news.html"  th:text="${entry.key}" >行业资讯</a>-->
                    <a href="javascript:void(0)"  th:text="${entry.key}" th:href="@{/category/list(parent=${entry.value[0].id})}">行业资讯</a>
                </th:block>
                <th:block th:if="${entry.value.size()>1}">
                    <th:block th:if="${entry.key=='行业资讯'}">
                        <a th:href="@{/article/list(category=${entry.value[0].id})}" th:text="${entry.key}" >行业资讯</a>
                    </th:block>
                    <th:block th:if="${entry.key!='行业资讯'}">
                        <a href="javaScript:void (0)" th:text="${entry.key}" >行业资讯</a>
                    </th:block>

                    <ul class="gouw-son" style="width:170px;" >
                        <th:block th:each="entry1:${list}">
                            <th:block th:with="entrys=${entry1.value}" >
                                <th:block th:if="${entrys.size()>1}">
                                    <th:block th:if="${entry1.key=='行业资讯'}">
                                        <li class="" th:each="list2:${entrys}"><a th:text="${list2.name}" th:href="@{/article/list(category=${list2.id})}">精英团队</a></li>
                                    </th:block>
                                    <th:block th:if="${entry1.key=='增值服务'}">
                                        <li class="" th:each="list2:${entrys}"><a th:text="${list2.name}" th:href="@{/article/valuelist(category=${list2.id})}">专题研讨会外包服务</a></li>
                                    </th:block>
                                    <th:block th:if="${entry1.key=='know-how'}">
                                        <li class="" th:each="list2:${entrys}"><a th:text="${list2.name}" th:href="@{/article/knowhowlist(category=${list2.id})}">专题研讨会外包服务</a></li>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </th:block>
                    </ul>
                </th:block>
            </th:block>
<!--<th:block th:each="mapkey:${list}">-->
<!--    <p th:text="${mapkey.key}"></p>-->
<!--</th:block>-->




        </li>
        <!--结束-->

        </div>
</div>


    <div class="internetLink">
        <ul class="social-icons pull-right">
<!--            <li><i class="fa fa-facebook codeIcon" style="color: #00a0ea"></i><div class="codeView"><div></div><img src="" /></div></li>-->
<!--            <li><i class="fa fa-twitter codeIcon" style="color: #00a0ea"></i><div class="codeView"><div></div><img src="" /></div></li>-->
<!--            <li><i class="fa fa-youtube-square codeIcon" style="color: #00a0ea"></i><div class="codeView"><div></div><img src="" /></div></li>-->
<!--            <li><i class="fa fa-weixin codeIcon" style="color: #00a0ea"></i><div class="codeView"><div></div><img th:src="@{/assets/img/wxQrcode.jpg}" /></div></li>-->
<!--            <li><i class="fa fa-linkedin-square codeIcon" style="color: #00a0ea"></i><div class="codeView"><div></div><img src="" /></div></li>-->
        </ul>
    </div>

</nav>

</html>
