<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>

</head>

<body>
<link href="../css/index.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}">
<script src="../js/huaceng.js" language="javascript" th:src="@{/assets/js/huaceng.js}"></script>
<script src="../js/qiehuan.js" type="text/ecmascript" th:src="@{/assets/js/qiehuan.js}"></script>
<link href="../css/demo.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/demo.css}">
<link href="../css/iconfont.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/iconfont.css}">
<script src="../css/iconfont.js" language="javascript" th:src="@{/assets/css/iconfont.js}"></script>
<link href="../css/lpassnumberbind.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/lpassnumberbind.css}"/>
<link href="../css/singer.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/singer.css}"/>
<link rel="stylesheet" href="../css/home.css" type="text/css" th:href="@{/assets/css/home.css}"/>
<style>
.log_co{margin: auto;    width: 1200px;}
#nc_1_captcha_input {border: solid 1px #999;}
</style>
<script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'bd647439edc1d679']);
        _vds.push(['trackBot', false]);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>
<link href="../css/lpasslogin.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/lpasslogin.css}">
<div id="Header">

<div class="tou">
<div class="logo"><img src="../img/logo.png"/></div>
<div class="gouw">
<li><a href="">中文</a><i class="iconfont">&#xe641;</i><span style="float:right;    padding: 0px 10px;">|</span>
            <ul class="gouw-son hidden">
<li class=""><a href="#">中文</a></li>
<li class=""><a href="#">EN</a></li>
			    </ul></li><li><a href="">返回首页</a></li>
            </div>
            
            </div>
            </div>
            <script>
function test(){
    $('.gouw').children("li:has(ul)").hover(
        function(){
            //$(this).find("ul>li:last").addClass("li-last-s1");//给每个下拉菜单的最后一个li元素添加css样式，此处非必要
            $(this).children("ul").slideDown(300);//JQ的slideDown方法，显示下拉菜单
        },
        function(){
            $(this).children("ul").hide();//隐藏下拉菜单
        }
    );
}

</script>

<script>
 test();
</script>
<div class="log_con">
<div class="log_co">
<span id="left"><img src="../img/log01.jpg" th:src="@{/assets/img/log01.jpg}"/></span>

<style>
.covers{width:190px;margin:30px auto;text-align:center;font-size:14px;color:#999;line-height:180%;}
.covers img{margin-bottom:20px;display:block;}
.js-ipt-h input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #E8E7E4;
    background: #F4F4F2;
    border-radius: 4px;
}
.js-ipt-h button {
    width: 125px;
    height: 42px;
    text-align: center;
    padding: 5px 0px;
    background: #007fdc;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    margin: 10px 0px 0px 15px;
}
</style>
<div class="login-box module-l-static" id="login-box">
    
        <div class="login-switch">
            <div class="icon-l static-l"></div>
            <div class="icon-l quick-l"></div>
        </div>
    
    <div class="l-static">
        <div class="l-tab-covers">
            <div class="l-tab-list current">密码登录</div>
            <div class="l-tab-list">短信登录</div>
        </div>
        <div class="static-module-covers">
            <div class="pass-login-covers">
            <form action="/login" method="post" th:action="@{/loginSubmit}">
                <input type="hidden" id="ip" name="ip"/>
                <input type="hidden" name="redirectUrl" th:value="${redirectUrl}"><br />
<input class="input_login" placeholder="邮箱/用户名" name="username"><br />
<input class="input_login" placeholder="请输入密码" maxlength="16" name="password" type="password"><br />

<input type="submit" name="Enter" value="登 录" style="cursor:pointer">
</form><div class="password"><span class="left">
                        <input type="checkbox" style="vertical-align: middle;"  value="on" name="remember"><label class="logintip" for="coks">下次自动登录</label> </span>
                        <span class="right"><a href="#" onclick="wangji()">忘记密码？</a><span style="margin:0px 8px;">|</span><a href="#" onclick="zhuce()">注 册</a>
                        </span>
                        
                        </div>
</div>
            <div class="sms-login-covers hide" style="display: none;">
              
                <form>

<span id="pho"><label class="select-country" country_id="+86">+86<span class="iconfont" style="
    margin-left: 10px;
">&#xe641;</span></label>
<input placeholder="手机号" style="width: 204px;border: 0px;float: left;margin-top:6px;"></span>
<!--报错<span class="baoc">请输入正确的手机号</span>-->

                    <input class="input_login" type="text" placeholder="输入验证码" style="width:180px;float:left;">
<button type="button">发送验证码</button>
<!--发送验证码 <button id="hui">-->
<!--报错<span class="baoc">验证码错误</span>-->
<input type="submit" name="Enter" value="登 录"  class="addcard-btn">

</form>
<div class="password"><span class="left">
                        <input type="checkbox" style="vertical-align: middle;"  value="on" name="remember"><label class="logintip" for="coks">下次自动登录</label> </span>
                        <span class="right"><a href="#" onclick="wangji()">忘记密码？</a>   |  <a href="#" onclick="zhuce()">注 册</a>
                        </span>
                        
                        </div>
                </div>

        </div>
        
            <div class="con1">
<span class="third-account">第三方账号登录</span>
<div class="account-login">
    <a href="javascript:" class="weixin-copy" id="wbtn"><i class="iconfont1">&#xe764;</i></a>
           <a href="javascript:" class="weixb" id="wbtn"><i class="iconfont3">&#xe61e;</i></a>
    <a href="javascript:" onclick="showqq()" title="QQ" rel="nofollow" class="qzone"><i class="iconfont2">&#xe659;</i></a></div>
 </div>
        
    </div>
    <div class="l-quick" style="diaplay:none;">
        <div class="l-title-covers">
            <div class="l-title-h2">微信二维码登录</div>
        </div>
        <div class="covers">
            <img src="../img/erwei.jpg">
            <p>请使用微信扫描二维码登录</p>
<p>“SP”</p>
        </div>
        <div class="wx_login_links">
            <a href="javascript:;" target="_blank" class="pass-login-tab">密码登录</a>  &nbsp;|&nbsp;  <a href="/regPhone.do?appId=1006" target="_blank">注册新帐号</a>
        </div>
    </div>

    <!-- <p class="member-login">会员登录</p> -->

    
</div>

<script type="text/javascript" src="../js/ljquery-1.9.js" th:src="@{/assets/js/ljquery-1.9.js}"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
$(function () {
    var ip=returnCitySN["cip"];
    $("#ip").val(ip);
})
// 微信登录，账号登录，图标切换事件
$('.login-switch .icon-l').on('click', function () {
    if ($(this).hasClass('static-l')) {
        $('.login-box').addClass('module-l-quick').removeClass('module-l-static')
        wxCodeLogin()
    } else {
        $('.login-box').addClass('module-l-static').removeClass('module-l-quick')
    }
})
//   密码，手机 登录TAB切换
$('.l-tab-covers .l-tab-list').on('click', function () {
    var thisIndex = $(this).index();
    $(this).addClass('current').siblings('.l-tab-list').removeClass('current');
    $('.static-module-covers > div[class*="login-covers"]').hide();
    $('.static-module-covers > div[class*="login-covers"]').eq(thisIndex).show();
    // parent.reinitIframe() 
})


// 密码，手机登录切换事件
$('.pass-login-tab').on('click', function () {
    $('.login-box').addClass('module-l-static').removeClass('module-l-quick');
    $('.l-tab-covers .l-tab-list:first').addClass('current').siblings('.l-tab-list').removeClass('current');
    $('.static-module-covers > div[class*="login-covers"]').hide();
    $('.static-module-covers > div[class*="login-covers"]:first').show();
})

</script>

</div>
<div class="h40"></div>
<div class="tjnav">
<ul>
<li style="    margin-left: 0px;"><a href="#"><img src="../img/fenxi.png" th:src="@{/assets/img/fenxi.png}"/></a><span><a href="#">分析软件</a></span></li>
<li><a href="#"><img src="../img/fxrj.png" th:src="@{/assets/img/fxrj.png}"/></a><span><a href="#">计划软件</a></span></li>
<li><a href="#"><img src="../img/3d.png" th:src="@{/assets/img/3d.png}"/></a><span><a href="#">3D打印</a></span></li>
<li><a href="#"><img src="../img/zhin.png" th:src="@{/assets/img/zhin.png}"/></a><span><a href="#">人工智能</a></span></li>
<li><a href="#"><img src="../img/robot.png" th:src="@{/assets/img/robot.png}"/></a><span><a href="#">导航/机器人</a></span></li>

</ul>

</div>
</div>
<div id="Footer">
<div class="fot">Surgi-plan.com Copyright © All Rights Reserved 2006-2023  <a href="">京ICP备17046258号</a></div>
</body>
</html>
