<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>常见问题-银行转账</title>
    <script src="../js/huaceng.js" language="javascript" th:src="@{/assets/js/huaceng.js}"></script>
    <script src="../css/iconfont.js" language="javascript" th:src="@{/assets/css/iconfont.js}"></script>
    <script type="text/javascript" src="../js/jquery.js" th:src="@{/assets/js/jquery.js}"></script>
</head>
<script src="../js/jquery-3.1.1.js"></script>
<body>


<link href="../css/index.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}">
<link href="../css/demo.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/demo.css}">
<link href="../css/iconfont.css"  rel="stylesheet" type="text/css" th:href="@{/assets/css/iconfont.css}">
<link href="../css/2j.css" rel="stylesheet" type="text/css" th:href="@{/assets/css/2j.css}"/>
<link href="../css/home.css" type="text/css"  rel="stylesheet" th:href="@{/assets/css/home.css}"/>

<!--我的sp鼠标悬浮下拉-->
<script th:src="@{/assets/js/memberView.js}"></script>

<header>


    <!--语言切换-->
    <!--未登录-->
    <shiro:notAuthenticated>
        <th:block th:replace="~{incloud/language::language}"></th:block>
    </shiro:notAuthenticated>
    <!--已登录-->
    <shiro:authenticated>
        <th:block th:replace="~{incloud/languageLogin::language}"></th:block>
    </shiro:authenticated>

    <div class="head">
        <!--未登录-->
        <div th:replace="~{head::topbar}"></div>
        <!--已登录-->
    </div>
</header>


<div class="log_con" style="padding-top:0px;padding-bottom:50px;clear:both;">
    <div class="luj"><a th:href="@{/}" >首页</a>&gt;<a href="javaScript:void (0);">我的SP</a></div>
    <div class="con_sp">
        <script>
            $(function(){
                $('.sp_nav .sp_nav-header-li-div').click(function(){
                    if($(this).parent().hasClass('active')) {
                        $(this).parent().removeClass('active').addClass("active-none");
                    }else{
                        $(this).parent().removeClass('active-none').addClass("active").siblings().removeClass('active').addClass("active-none");
                        $(this).parent().siblings().find('.sp_nav-second-level li').removeClass('active1');
                    }
                });

                $('.sp_nav-second-level li').click(function(){
                    $(this).addClass('active1').siblings().removeClass('active1');
                });
            })
        </script>
        <style>
            .sp_nav li.active-none{border-bottom:0px;}
            .sp_nav li>div{color:#aaa;}
        </style>
        <div th:replace="/incloud/cjwtLeft:: left"></div>

        <div class="con_right">
            <div class="chax">
                <div class="prob_s">
                    <div class="prob_ss"><input type="text" value="输入问题关键词" /><button><i class="iconfont">&#xe639;</i>搜索</button></div>
                </div>
                <div class="prob_we">
                    <div class="kflj"><a href="#" style="padding-left: 0px;">付款方式</a>&gt;<a href="#">银行转账</a></div>
                    <span id="probt">银行转账</span>
                    <p>1、国内客户可以通过全国任何一家银行，向塞吉普兰在中国工商银行开立的账户汇款。</p>
                    <p>2、到款时间一般为办理转帐手续之后：同行1-2个工作日、跨行2-5个工作日；请避开双休日、节假日。</p>
                    <p>3、提示：为了及时帮您确认订单收款，请务必在备注栏或用途栏内写明网购订单号。</p>
                    <p>公司名称：赛吉普兰（北京）信息技术有限公司 </p>
                    <p>开户银行：中国工商银行股份有限公司北京香河园支行</p>
                    <p>银行帐户：0200019109067098056</p>


                </div>
            </div></div>
    </div>
    <script type="text/javascript">
        var hl = $(".con_left").outerHeight();
        var hr = $(".con_right").outerHeight();
        var mh = Math.max(hl,hr);
        $(".con_left").height(mh);
        $(".con_right").height(mh);
    </script>
</div>

<!--引用页面脚部-->
<div th:replace="/incloud/footer:: footer"></div>

</body>
</html>